.todo {
  float: left;
  width: 95%;
  margin: 1rem;
  /* background-color:brown; */
  display: flex;
}

.ready {
  text-align: right;
  margin: 0.5rem;
  /* background-color:aquamarine; */
}

.ready button {
  margin: 0.2rem;
  font-size: 1.25rem;
}

.delete {
  text-align: right;
  margin: 0.5rem;
  /* background-color:aquamarine; */
}

.delete button {
  margin: 0.2rem;
  font-size: 1.25rem;
}

.todoName {
  width: 65%;
  margin: 0.5rem;
  border: 1px solid teal;
  border-radius: 4px;
  /* background-color:yellow; */
  margin-right: 1rem;
}

.todoName p {
  color: #554a53;
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  /* background-color:chocolate; */
}

.ready button {
  color: #554a53;
  text-align: center;
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  border: 1px solid teal;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: transparent;
}

.ready button:hover {
  border: 1px solid brown;
  background-color: cadetblue;
}

/* .heavity {
  width: 10%;
  margin: 0.5rem;
  margin-right: 1rem;
  text-align: center;
  background-color:violet;
}

.heavity p{
  color: #554a53;
  text-align: center;
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
} */
