.todoInput {
  width: 50%;
  margin: 0.5rem;
  border: 1px solid teal;
  background-color:yellow;
  margin-right: 1rem;
}

.todoInput p {
  color: #554a53;
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  background-color:chocolate;
}
