.logo {
  /* width: 3.5%; */
  width: 65px;
  margin: 0.5rem;
  text-align: center;
  margin-left: 5%;
  font-size: 1.25rem;
  /* padding-bottom: 0.5rem; */
  float: left;
  /* border-bottom: #4a5555; */
  /* background-color: aqua; */
}

.logo img {
  width: 100%;
  height: auto;
}